<h1 class="title"><%= t('views.qr_codes.editing_qr_code') %></h1>

<%= render 'form', qr_code: @qr_code %>

<%= link_to t('views.qr_codes.show'), @qr_code %> |
<%= link_to t('views.qr_codes.back'), qr_codes_path %>
