<aside class="menu">
  <ul class="menu-list">
    <p class="menu-label">
      QR Code generator service!
    </p>
    <li><%= link_to "QR Codes", qr_codes_path %></li>
    <li><a href="#">Sign Out</a></li>
  </ul>
</aside>